force-app/main/default/flows/New_Care_Benefit_Verification_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Care_Verification_Request</name>
        <label>Send Care Verification Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>InfinitusAPIIntegration</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cbvrIds</name>
            <value>
                <elementReference>Create_Care_Verification_Request.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InfinitusAPIIntegration</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>New Care Verification Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Care Benefit Verification Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Care_Verification_Request</name>
        <label>Create Care Verification Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Care_Verification_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateOfBirth__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DiagnosisCode__c</field>
            <value>
                <elementReference>$Record.DiagnosisCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GroupNumber__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.MemberPlan__r.GroupNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceProvider__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.MemberPlan__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPI__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.Provider__r.NPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientFirstName__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientLastName__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyNumber__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.MemberPlan__r.PolicyNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcedureCode__c</field>
            <value>
                <elementReference>$Record.ProcedureCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProviderFirstName__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.Provider__r.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProviderLastName__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.Provider__r.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate__c</field>
            <value>
                <elementReference>$Record.ServiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceType__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId__c</field>
            <value>
                <elementReference>$Record.MasterDetailToAccount__r.MemberPlan__r.SubscriberId__c</elementReference>
            </value>
        </inputAssignments>
        <object>CareBenefitVerifyRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>ServiceDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_Care_Verification_Request</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
